
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: rgb(131, 241, 208);
}

h1 {
    color: blueviolet;
    letter-spacing: 8px;
}

h3 {
    color: brown;
}

p {
    text-indent: 50px;
}

#Spis_tresci {
	position: fixed;
	width: 220px;
	height: 350px;
	float: right;
	text-align: center;
	background-color: rgb(126, 223, 215);	
	padding: 5px;
	border: 10px solid rgb(35, 10, 175);
	overflow: auto;
}

#main {
	position: relative;
	max-width: 960px;
	background-color: rgb(126, 223, 215);
	margin-left: 350px;
	padding: 5px;
	border: 10px solid rgb(35, 10, 175);	
}

#Tytul {
    font-size: 30px;
	background-color: rgb(126, 223, 215);
	width: 100%;
	text-align: center;
    white-space: nowrap;
    border: 10px solid rgb(35, 10, 175);
}

p::first-letter {
    font-size: 200%;
    color: rgba(238, 241, 22, 0.979);
    }

    a:hover {
        background-color: yellow;
        cursor: default;
    }